* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  cursor: url(https://emo.su/images/cursorBlack.cur), default;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  overflow-y: auto;
}

.trainer {
  width: 100vw;
  height: 100vh;
  padding: 10px;
  padding-bottom: 100px;
}

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  text-align: center;
  table-layout: fixed;
}

th,
td {
  border: 1px solid #ccc;
  padding: 5px;
}

th {
  background-color: #f0f0f0;
  font-weight: bold;
}

th img,
td img {
  max-width: 120px;
  max-height: 150px;
  display: block;
  margin: 5px auto;
}

td {
  position: relative;
}

.radio-check {
  position: relative;
  cursor: url(https://emo.su/images/cursor.cur), pointer;
}

.radio-check input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  opacity: 0;
  cursor: url(https://emo.su/images/cursor.cur), pointer;
}

.radio-check input:checked+.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: url(https://emo.su/images/svg/tick.svg) no-repeat center center;
}